
<mat-toolbar color="primary">
  <div class="div container">
    <a routerLink="/"  mat-fab yellow color="accent">
      <mat-icon>home</mat-icon>
    </a>

    <a style="text-decoration: none; color: white;" routerLink="/overview" mat-raised-button class="raised">
      Overview
    </a>

    <a style="text-decoration: none; color: white;" routerLink="/issues" mat-raised-button class="raised">
      Issues
    </a>

    <a style="text-decoration: none; color: white;" routerLink="/code" mat-raised-button class="raised">
      Code
    </a>

    <a style="text-decoration: none; color: white;" routerLink="/activity" mat-raised-button class="raised">
      Activity
    </a>


  </div>
</mat-toolbar>
