<div class="page-header">
  <div class = "container">
    <h1>Overview</h1>
  </div>
</div>
<br>
<br>
<br>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


  <ng-container matColumnDef="repo">
    <th style="color: black; font-weight: 400; font-size: 18px;" mat-header-cell *matHeaderCellDef> Repo </th>
    <td style="color: black;" mat-cell *matCellDef="let element"> {{element.repo}} </td>
  </ng-container>

  <ng-container matColumnDef="startingCoverage">
    <th style="color: black; font-weight: 400; font-size: 18px;"mat-header-cell *matHeaderCellDef> Starting Coverage </th>
    <td style="color: black;" mat-cell *matCellDef="let element"> {{element.startingCoverage}} </td>
  </ng-container>

  <ng-container matColumnDef="finalCoverage">
    <th style="color: black; font-weight: 400; font-size: 18px;"mat-header-cell *matHeaderCellDef> Final Coverage </th>
    <td style="color: black;" mat-cell *matCellDef="let element"> {{element.finalCoverage}} </td>
  </ng-container>

  <ng-container matColumnDef="percentChange" >
    <th style="color: black; font-weight: 400; font-size: 18px;"mat-header-cell *matHeaderCellDef> Percent Change </th>
    <td mat-cell *matCellDef="let element" style="color: green; font-weight: bold;"> {{element.percentChange}} </td>
  </ng-container>

  <ng-container matColumnDef="newUnitTests">
    <th style="color: black; font-weight: 400; font-size: 18px;"mat-header-cell *matHeaderCellDef> New Unit Tests Created </th>
    <td style="color: black;" mat-cell *matCellDef="let element"> {{element.newUnitTests}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr  mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>


